.card{
    display: flex;
    width: 50%;
    margin-bottom: 20px;
    font-size: 22px;
}

.cardInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImage{
    width: 70px;
    border-radius: 50%;
}

.cardNameContainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.cardNameTitle{
    font-size: 15px;
    font-weight: 600;
    color: #707070;
}

.cardNameBody{
    font-weight: 600;
}